body {
    width: 600px; 
    background-color: #474448;
}

h2{
    text-align: center;
    font-weight: 500;
    color: #eb5e28;
}

p{
    font-size: 16px;
    line-height: 24px;
}

.panel{  
    border-radius: 10px;
    border: 1px solid #252422;
    padding: 20px;
    width: 90%;
    background-color: rgba(204,197,185,.5)
}


.button_holder{
    text-align: center;
}

#button{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
#button:hover{
    color:#252422;
    background-color:#eb5e28;
}
@media all and (max-width:30em){
    #Button{
        display:block;
        margin:0.4em auto;}
}
